extends layout

block content

    audio(id="my_audio" src="https://firebasestorage.googleapis.com/v0/b/wrosswhite-website.appspot.com/o/clock_tick.mp3?alt=media&token=95d871eb-023d-4930-83af-1c9a642a3b5a" loop="loop")

    h1 QDS Team 5
    
    br

    - let image = qr
    img(src=image).qr_image

    br
    br
    
    include js_helper.pug

    include footer.pug
