extends layout

block content

    p #{average}
    
    //- form(method="GET" action='/stats/get_stats').login_form
    //-     //- input(type="submit" value="get stats")
    //-     p #{ average }
    //-     p.hidden stuff

    
    include js_helper.pug

    include footer.pug
