extends layout

block content


    form(method="POST" action='/stats/get_stats').login_form
        input(type="submit" value="get stats")
        p.hidden stuff


    include js_helper.pug

    include footer.pug
